<head  th:replace="fragment :: header_link('Admin - Account List')"/>

<body class="">
  <div class="wrapper ">
    <div th:replace="navigation :: menu"></div>
    <div class="main-panel">
      <div th:replace="navigation :: nav_header"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Simple Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="example" class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Fullname
                      </th>
                      <th>
                        Birthday
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Phone
                      </th>
                      <th>
                        Role
                      </th>
                      <th>
                        Isdelete
                      </th>
                      <th>
                        Isactive
                      </th>
                    </thead>
                    <tbody>
                      <tr th:each="acc : ${listAccount}">
                        <td th:text="${acc.id}"></td>
                        <td th:text="${acc.fullname}"></td>
                        <td th:text="${acc.birthday}"></td>
                        <td th:text="${acc.email}"></td>
                        <td th:text="${acc.phone}"> </td>
                        <td th:text="${selectRoleMap[acc.role]}"> </td>
                        <td th:text="${acc.isdelete}"></td>
                        <td th:text="${acc.isactive}"></td>
                        <td ></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
	<footer th:replace="fragment :: footer"></footer>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
	    $('#example').DataTable();
	} );
  </script>
</body>

</html>