<head th:replace="fragmentU :: headerU_link('User - Create post')" />

<body>

	<section class="preloader">
		<div class="spinner">
			<span class="sk-inner-circle"></span>
		</div>
	</section>

	<main>


		<div th:replace="navigationU :: nav_headerU"></div>

		<section class="product-detail section-padding">
			<div class="container">
				<h1>Create post</h1>
				<div class="row">

					<form th:action="@{/registerPost}" th:object="${post}"
						method="POST" role="form" id="formPost">

						<div class="form-floating mb-4 p-0">
							<input th:field="*{title}" type="text" name="title" id="title"
								class="form-control" placeholder="Title" required> <label
								for="title">Title</label>
						</div>

						<div class="form-floating p-0">
							<input th:field="*{img}" type="text" name="image"
								class="form-control" placeholder="URL image" required
								style="margin-bottom: 20px;"> <label for="image">Image</label>
						</div>

						<div class="form-floating p-0">
							<textarea rows="20" cols="80" th:field="*{desription}"
								name="description" class="form-control" style="height: 200px;"
								placeholder="Description" required form="formPost"> </textarea>
							<label for="description">Description</label>

						</div>
						<div class="form-floating p-0"
							style="display: flex; width: 23%; justify-content: space-between; align-items: baseline;">
							<button type="submit"
								class="btn custom-btn form-control mt-4 mb-3"
								style="width: fit-content; background: cadetblue; align-items: center; padding: 0px 15px;">Create post</button>
							<a href="/selectPostListU"
								style="display: flex; align-items: center; font-size: 20px; text-decoration: underline;">Back
								</button>
						</div>
					</form>

				</div>
			</div>
		</section>

	</main>

	<footer th:replace="fragmentU :: footerU"></footer>

	<!-- JAVASCRIPT FILES -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/Headroom.js"></script>
	<script src="js/jQuery.headroom.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>