<head th:replace="fragmentU :: headerU_link('User - Detail')" />
<body>
	<section class="preloader">
		<div class="spinner">
			<span class="sk-inner-circle"></span>
		</div>
	</section>
	<main>
		<div th:replace="navigationU :: nav_headerU"></div>
		<section class="product-detail section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="product-thumb" style="display: flex;">
							<img th:src="@{${post.img}}" class="img-fluid product-image" alt="">
							<div class="icon-like" style="	margin-left: 100px; display: grid;">
								<div class="product-info d-flex">
									<div>
										<h2 th:text="${post.title}" class="product-title mb-0"></h2>
									</div>
								</div>
								<div class="top">
									<a style="" href="#">
										<p th:text="${post.userid}" ></p>
									</a>
									<p th:text="${post.datecreate}"></p>
									<p th:text="${post.desription}"></p>
								</div>
								<div class="bottom">
									<a style="" href="#" class="bi-heart-fill product-icon ms-auto">
										<p th:text="${#lists.size(post.likes)}"></p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-12">
					<div class="product-description">
						<p th:text="${post.desription}" class="lead mb-5"></p>
					</div>
				</div>
			</div>
			</div>
		</section>
	</main>
	<footer th:replace="fragmentU :: footerU"></footer>
	<!-- CART MODAL -->
	<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content border-0">
				<div class="modal-header flex-column">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6 col-12 mt-4 mt-lg-0">
							<img src="images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg" class="img-fluid product-image" alt="">
						</div>
						<div class="col-lg-6 col-12 mt-3 mt-lg-0">
							<h3 class="modal-title" id="exampleModalLabel">Tree pot</h3>
							<p class="product-price text-muted mt-3">$25</p>
							<p class="product-p">Quatity: <span class="ms-1">4</span></p>
							<p class="product-p">Colour: <span class="ms-1">Black</span></p>
							<p class="product-p pb-3">Size: <span class="ms-1">S/S</span></p>
							<div class="border-top mt-4 pt-3">
								<p class="product-p"><strong>Total: <span class="ms-1">$100</span></strong></p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="row w-50">
						<button type="button" class="btn custom-btn cart-btn ms-lg-4">Checkout</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/jQuery.headroom.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>