<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="">
<meta name="author" content="">

<title>Sign up</title>

<!-- CSS FILES -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
	rel="stylesheet">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="css/slick.css" />

<link href="css/tooplate-little-fashion.css" rel="stylesheet">

<!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
</head>

<body>

	<section class="preloader">
		<div class="spinner">
			<span class="sk-inner-circle"></span>
		</div>
	</section>

	<main>

		<section class="sign-in-form section-padding">
			<div class="container">
				<div class="row">

					<div class="col-lg-8 mx-auto col-12">
					<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
						<h1 class="hero-title text-center mb-5">Sign Up</h1>




						<div class="row">
							<div class="col-lg-8 col-11 mx-auto">
								<form action="register" role="form"
									method="post">


									<div class="form-floating">
										<input type="text" name="username" id="username"
											pattern="[a-zA-Z]{6,10}" class="form-control"
											placeholder="User name" required>
										<p class="text-center">* shall include a-z A-Z in 6 to 10
											characters</p>

										<label for="username">User name</label>
									</div>

									<div class="form-floating my-4">
										<input type="text" name="fullname" id="fullname"
											pattern="[a-zA-Z]{6,20}" class="form-control"
											placeholder="Full name" required> <label
											for="fullname">Full name</label>
										<p class="text-center">* shall include a-z A-Z in 6 to 10
											characters</p>
									</div>

									<div class="form-floating my-4">
										<input type="password" name="password" id="password"
											pattern="[0-9a-zA-Z]{4,10}" class="form-control"
											placeholder="Password" required> <label
											for="password">Password</label>

										<p class="text-center">* shall include 0-9 a-z A-Z in 4 to
											10 characters</p>
									</div>

									<div class="form-floating">
										<input type="password" name="confirm_password"
											id="confirm_password" pattern="[0-9a-zA-Z]{4,10}"
											class="form-control" placeholder="Password" required>

										<label for="confirm_password">Password Confirmation</label>
									</div>

									<div class="form-floating my-4">
										<input type="email" name="email" id="email"
											pattern="[^ @]*@[^ @]*" class="form-control"
											placeholder="Email address" required="required"> <label
											for="email">Email address</label>
									</div>

									<div class="form-floating my-4">
										<input type="text" name="phone" id="phone"
											pattern="^[0-9]{10}" class="form-control"
											placeholder="Phone numbers" required="required"> <label
											for="phone">Phone numbers</label>
										<p class="text-center">* shall include 0-9 and 10
											characters</p>
									</div>

									<div class="form-floating my-4">
										<input type="text" name="age" id="age" pattern="^[0-9]{1,2}"
											class="form-control" placeholder="Age" required="required"> <label
											for="age">Age</label>
										<p class="text-center">* shall include 0-9 from 1 to 2
											characters</p>
									</div>

									<div class="form-floating my-4">
										<input type="text" name="birthday" id="birthday"
											class="form-control" placeholder="birthday" required="required">

										<label for="birthday">Birthday</label>
										<p class="text-center">* shall include 30/04/2000</p>
									</div>

									<button onclick="submitform()" type="submit"
										class="btn custom-btn form-control mt-4 mb-3">Create
										account</button>

									<p class="text-center">
										Already have an account? Please <a th:href="@{login}">Sign
											In</a>
									</p>

								</form>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

	</main>

	<footer class="site-footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-10 me-auto mb-4">
					<h4 class="text-white mb-3">
						<a href="index.html">Little</a> Fashion
					</h4>
					<p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">
						Copyright © 2022 <strong>Little Fashion</strong>
					</p>
					<br>
					<p class="copyright-text">
						Designed by <a href="https://www.tooplate.com/" target="_blank">Tooplate</a>
					</p>
				</div>

				<div class="col-lg-5 col-8">
					<h5 class="text-white mb-3">Sitemap</h5>

					<ul class="footer-menu d-flex flex-wrap">
						<li class="footer-menu-item"><a href="about.html"
							class="footer-menu-link">Story</a></li>

						<li class="footer-menu-item"><a href="#"
							class="footer-menu-link">Products</a></li>

						<li class="footer-menu-item"><a href="#"
							class="footer-menu-link">Privacy policy</a></li>

						<li class="footer-menu-item"><a href="#"
							class="footer-menu-link">FAQs</a></li>

						<li class="footer-menu-item"><a href="#"
							class="footer-menu-link">Contact</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-4">
					<h5 class="text-white mb-3">Social</h5>

					<ul class="social-icon">

						<li><a href="#" class="social-icon-link bi-youtube"></a></li>

						<li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

						<li><a href="#" class="social-icon-link bi-instagram"></a></li>

						<li><a href="#" class="social-icon-link bi-skype"></a></li>
					</ul>
				</div>

			</div>
		</div>
	</footer>

	<!-- JAVASCRIPT FILES -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/Headroom.js"></script>
	<script src="js/jQuery.headroom.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/custom.js"></script>

	<script type="text/javascript" th:inline="javascript">
		function submitform() {
			var username = $("#username").val();
			var phone = $("#phone").val();
			var email = $("#email").val();
			var age = $("#age").val();
			var birthday = $("#birthday").val();
			var fullname = $("#fullname").val();
			var password = $("#password").val();
			var confirm_password = $("#confirm_password").val();
			
			var list = [];
			
			list = [[${accounts}]];
				
			
			
			var flag = false;
			for( var i = 0; i < list.length ; i++ ){
				var item = list[i];
				if(item == username){
					flag = false;
					
					break;
				}else{
					flag = true;
				}
			}
			
			if(flag == true){
				
				if(password != null && fullname != '' && birthday != '' && age != '' && email != '' && phone != ''  && username != '' && confirm_password != '' && confirm_password == password){
					
					if(confirm_password == password){
						
						$.ajax({
							url : "./registered?username=" + username 
									+ "&phone=" + phone 
									+ "&email=" + email 
									+ "&age=" + age 
									+ "&birthday=" + birthday 
									+ "&password=" + password 
									+ "&fullname=" + fullname,
							method : 'post',
							async : false,
							success : function(data) {
								location.href="login";
								
								alert("Register success!");
							}
						});
						
					}else{
						alert("confirm password don't same!");
					}
					
				}else{
					alert("Something Error!");
				}
				
			}else{
				alert("usename is exist!");
			}
			
			
			
			
		}
	</script>


</body>
</html>
